* {
    margin: 0;
    padding: 0;
    outline: none;
}

ul,
ol {
    list-style: none;
}

img {
    border: 0 none;
    vertical-align: middle;
}

a {
    color: #333;
    text-decoration: none;
}

body{
    font-family: "PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
